<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#">Boostme</a>
  
    <div class="navbar" id="navbarNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Profile</a>
        </li><li class="nav-item">
          <a class="nav-link" (click)="authService.signOut()" href="/login">Sign Out</a>
        </li>
      </ul>
    </div>
  </nav>

</body>
  
<router-outlet></router-outlet>











